html,
body{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body > div{
    width: 100%;
}

.hero{
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
}

.hero-content-outer{
    margin: 8%;
}

.hero-content-inter{
    display: flex;
}

.img-placeholder{
    display: flex;
}

.right-section{
    padding: 1%;
    border-radius: 24px;
    background-color: darkslategray;
}

.left-section{
    display: flex;
    flex-direction: column;
}

h1{
    margin-bottom: 8px;
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

p{
    margin-top: 8px;
    color: #e5e7eb;
}

.menu-bar{
    display: flex;
    height: 64px;
    justify-content: space-around;
    align-items: center;
    padding-left: 4%;
    padding-right: 4%;
}

a{
    text-decoration: none;
}

.logo > a{
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.menu-item > a{
    font-size: 18px;
    color: #e5e7eb;
}

button{
    background-color: #3882f6;
    border: 2px solid transparent;
    border-radius: 4px;
    color: #f9faf8;
}