html,
body{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body > div{
    width: 100%;
}

.hero{
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
}

.hero-content-outer{
    margin: 8% 12%;
}

.hero-content-inter{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 1px;

}

.img-placeholder{
    margin: auto;
}

.right-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2%;
    border-radius: 16px;
    background-color: darkslategray;
    padding-left: 4%;
    padding-right: 4%;
}

.left-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.left-section > h1{
    margin-top: 0px;
    margin-bottom: 4px;
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

p.placeholder{
    color: #e5e7eb;
}

p.hero-subtext{
    margin-top: 4px;
    color: #e5e7eb;
}

.menu-bar{
    display: flex;
    height: 64px;
    justify-content: space-between;
    align-items: center;
    padding-left: 12%;
    padding-right: 12%;
    border-bottom: 1px solid #3f5069;
}

div.nav{
    display: flex;
    gap: 32px;
}

@media (max-width: 850px){
    .hero-content-inter{
        flex-direction: column-reverse;
    }
}

a{
    text-decoration: none;
}

.menu-item > a:hover{
    color: #b8bbc2;
}

.logo > a{
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.menu-item > a{
    font-size: 18px;
    color: #e5e7eb;
}

.left-section>button{
    margin-top: 8px;
    font-size: 18px;
    font-weight: bold;
    padding: 2% 8%;
    cursor: pointer;
    background-color: #3882f6;
    border: 2px solid transparent;
    border-radius: 8px;
    color: #f9faf8;
    box-shadow: 0px 5px 5px #151f2e;
}

.left-section>button:hover{
    color: #d8dad6;
    background-color: #296ad2;
}

div.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9faf8;
    padding-bottom: 4%;
}

div.info-header{
    padding: 2%;
}

.info-header > h1{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.icco{
    width: 100%;
}

div.info-card-container{
    width: 100%;
    display: flex;
    gap: 48px;
    justify-content: center;
}

div.info-card{
    display: flex;
    flex-direction: column;
}

.info-card > p{
    font-size: 18px;
    color: #1f2937;
    margin-top: 8px;
}

div.ic{
    width: 160px;
    height: 160px;
    border: 4px solid #3882f6;
    border-radius: 16px;
}

div.quote{
    background-color: #e5e7eb;
    padding: 8% 0%;
}

.quote-out{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0% 24%;
}

.quote-p > p{
    margin: 0px;
    color: #1f2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote-c{
    align-self: flex-end;
    margin-right: 8%;
}

.quote-c > h3{
    font-size: 24px;
    margin: 0px;
}

div.call{
    background-color: #f9faf8;
}

.call-out{
    padding: 6% 16%;
}

.sec{
    padding: 2% 4%;
    background-color: #3882f6;
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sec-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sec-txt>h2{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
    margin-bottom: 4px;
    margin-top: 28px;
}

.sec-txt>p{
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 4px;
    margin-bottom: 28px;
}

.sec>button{
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    color: #f9faf8;
    background-color: #3882f6;
    border: 2px solid #f9faf8;
    border-radius: 8px;
    padding: 1% 4%;
}

.sec>button:hover{
    color: #3882f6;
    background-color: #f9faf8;
    box-shadow: 0px 5px 5px #296ad2;
}

footer.ft{
    padding: 2% 0%;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ft>p{
    font-size: 18px;
    color: #e5e7eb;
}